ul,
ol {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.task-list {
  min-width: 200px;
  border: 1px solid darkgreen;
  border-radius: 5px;
  padding: 20px 40px;
}

.list-title {
  text-align: center;
}
