.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-item {
  flex: 1 1 calc((100% - 48px) / 3);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
