.gallery {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  transition: transform 250ms;
}

/* .gallery-image {
  width: 100%;
  transition: transform 250ms;
} */

.gallery-item:hover {
  transform: scale(1.05);
}

.my-custom-lightbox {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
